/**
* Clone Twitter
*
* HTML/CSS - Clonando layout do Twitter
* usando FlexBox. Projeto do curso
* de Flexbox da Rocketseat.
*
* @project Clone Twitter with Flexbox
* @version 1.0
* @package layout
* @author @denilsoncamara
*
*/

:root {
  --color-primary: #e6ecf0;
  --color-secondary: #3bb9e3;
  --color-text: #667580;
  --color-text-dark: #1f2226;
}

/**
* Estilos Globais
*
* @section global reset
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: var(--color-primary);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

input,
button {
  outline: none;
}

.avatar {
  border-radius: 50%;
}

.button {
  align-items: center;
  border: 0;
  border-radius: 16px;
  cursor: pointer;
  display: flex;
  font-size: 1.4rem;
  font-weight: bold;
  height: 34px;
  justify-content: center;
  width: 90px;
}

.button._primary {
  background-color: var(--color-secondary);
  color: #fff;
}

.button._secondary {
  background-color: transparent;
  border: 1px solid var(--color-secondary);
  color: var(--color-secondary);
}

.content {
  margin: 0 auto;
  max-width: 1160px;
  padding: 0 30px;
}

/**
* Estilos do Header
*
* @section header
*/
.main-header {
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  height: 46px;
  position: relative;
  z-index: 1;
}

.main-header .content {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
}

.main-nav > .list-item {
  display: flex;
  list-style: none;
}

.main-nav > .list-item > .item + .item {
  margin-left: 30px;
}

.main-nav > .list-item a {
  align-items: center;
  color: var(--color-text);
  font-size: 1.2rem;
  display: flex;
  font-size: 1.3rem;
  font-weight: bold;
  text-decoration: none;
}

.main-nav > .list-item img {
  margin-right: 7px;
}

.main-header .side {
  display: flex;
}

.main-header .side > input {
  background: #f5f8fa url('images/search.svg') 190px center no-repeat;
  border: 1px solid var(--color-primary);
  border-radius: 16px;
  color: var(--color-text);
  font-size: 1.2rem;
  height: 34px;
  padding: 0 30px 0 12px;
  width: 220px;
}

.main-header .side > .avatar {
  height: 34px;
  margin: 0 15px;
  width: 34px;
}

/**
* Estilos do Banner
*
* @section banner
*/
.banner {
  align-items: center;
  flex-direction: column;
  background-color: var(--color-secondary);
  color: #fff;
  display: flex;
  height: 380px;
  justify-content: center;
}

.banner > h1 {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 100;
  margin-bottom: 10px;
}

.banner > h2 {
  color: #fff;
  font-size: 2rem;
  font-weight: 100;
}

/**
* Estilos da barra superior
*
* @section bar
*/

.bar {
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  height: 59px;
}

.bar > .content {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
  padding-left: 285px;
}

.bar ul {
  display: flex;
  height: 100%;
  list-style: none;
}

.bar ul > li {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 15px;
  position: relative;
}

.bar ul > li.active::after {
  background-color: var(--color-secondary);
  bottom: 0;
  content: '';
  height: 2px;
  position: absolute;
  left: 0;
  width: 100%;
}

.bar ul > li > span {
  color: var(--color-text);
  font-size: 1.2rem;
  font-weight: bold;
}

.bar ul > li > strong {
  color: var(--color-text);
  font-size: 1.8rem;
  font-weight: bold;
  margin-top: 2px;
}

.bar ul > li.active > strong {
  color: var(--color-secondary);
}

.bar .actions {
  display: flex;
}

.bar .actions .button {
  margin-right: 20px;
}

.bar .actions a {
  align-items: center;
  display: flex;
}

/**
* Estilos da seção perfil
*
* @aside profile content
*/

.wrapper-content {
  display: flex;
}

.wrapper-content > .profile-content {
  width: 260px;
}

.profile-content > .avatar {
  border: 5px solid #fff;
  height: 200px;
  margin-top: -130px;
  width: 200px;
}

.profile-content > .name {
  color: var(--color-text-dark);
  font-size: 2.1rem;
  margin-top: 10px;
}

.profile-content > .nick {
  color: #53626c;
  font-size: 1.4rem;
}

.profile-content > .bio {
  color: #1f2226;
  font-size: 1.4rem;
  margin-top: 15px;
}

.profile-content > .bio > a {
  color: var(--color-secondary);
}

.profile-content ul {
  list-style: none;
  margin-top: 20px;
}

.profile-content > ul.list-item li {
  color: var(--color-text);
  font-size: 1.4rem;
  display: flex;
  align-items: center;
}

.profile-content > ul.list-item li + li {
  margin-top: 5px;
}

.profile-content li > a {
  color: var(--color-secondary);
}

.profile-content > ul.list-item > li > img {
  margin-right: 10px;
}

.profile-content > .widget {
  margin-top: 20px;
}

.profile-content > .widget > strong {
  align-items: center;
  color: var(--color-secondary);
  display: flex;
  font-size: 1.4rem;
  font-weight: normal;
}

.profile-content > .widget > strong > img {
  margin-right: 5px;
}

.profile-content .followers > ul {
  align-content: flex-start;
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
}

.profile-content .followers > ul > li {
  background-color: #d0d5d9;
  border-radius: 50%;
  flex: 1 0 auto; /* shrink grow basis */
  height: 45px;
  margin: 0 5px 10px 0;
  width: 45px;
}

.profile-content .images > ul {
  align-content: flex-start;
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
}

.profile-content .images > ul > li {
  background-color: #d0d5d9;
  border-radius: 8px;
  flex-shrink: 0;
  height: 80px;
  margin: 0 5px 5px 0;
  width: 80px;
}

/**
* Estilos da timeline
*
* @main timeline
*/

.wrapper-content > .timeline-content {
  flex: 1;
}

/**
* Estilos da sidebar widgets
*
* @aside widgets
*/

.wrapper-content > .widgets-content {
  margin-top: 10px;
  width: 290px;
}

.widgets-content > .widget {
  background-color: #fff;
  padding: 15px;
  margin-bottom: 10px;
}

.widgets-content > .widget > .title {
  display: flex;
  align-items: baseline;
}

.widgets-content > .widget > .title > strong {
  color: var(--color-text-dark);
  display: flex;
  font-size: 1.8rem;
}

.widgets-content > .widget > .title > a {
  color: var(--color-secondary);
  font-size: 1.2rem;
  text-decoration: none;
  position: relative;
  padding-left: 10px;
}

.widgets-content > .widget > .title > a::before {
  border-radius: 50%;
  background: #222;
  content: '';
  height: 2px;
  left: 4px;
  position: absolute;
  top: 6px;
  width: 2px;
}

.widgets-content > .follow > ul {
  list-style: none;
  margin-top: 10px;
}

.widgets-content > .follow > ul > li {
  border-bottom: 1px solid #ccd6dd;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.widgets-content > .follow .profile {
  display: flex;
  align-items: center;
}

.widgets-content .profile > .avatar {
  height: 48px;
  width: 48px;
}

.widgets-content .profile > .info {
  flex-direction: column;
  display: flex;
  margin-left: 10px;
}

.widgets-content .profile > .info > strong {
  color: var(--color-text-dark);
  font-size: 1.4rem;
}

.widgets-content .profile > .info span {
  color: #9a9a9a;
  font-weight: normal;
}

.widgets-content .profile > .info > .button {
  height: 27px;
  margin-top: 4px;
}

.widgets-content > .follow .icon-close {
  color: #ccd6dd;
  text-decoration: none;
  font-size: 1.2rem;
}

.widgets-content > .follow > .search-friends {
  padding: 10px 0;
}

.widgets-content > .follow > .search-friends a {
  align-items: center;
  color: var(--color-secondary);
  display: flex;
  font-size: 1.2rem;
  text-decoration: none;
}

.widgets-content > .follow > .search-friends img {
  color: var(--color-secondary);
  margin-right: 10px;
}

.widgets-content > .trends > ul.list-item {
  list-style: none;
  margin-top: 10px;
}

.widgets-content > .trends > ul.list-item > .item {
  margin-bottom: 10px;
}

.widgets-content > .trends > ul.list-item a {
  color: var(--color-secondary);
  font-size: 1.4rem;
  text-decoration: none;
}

.widgets-content > .copy {
  padding: 5px 15px;
}

.widgets-content > .copy > p {
  color: var(--color-text);
  font-size: 1.2rem;
  line-height: 16px;
}
